{{! views/shop/cart.hbs }}
<section class="cart">
    <h1>Your cart</h1>

    {{#if products}}
        <ul class="cart-list">
            {{#each products}}
                <li class="cart-item">
                    <img src="{{imageUrl}}" alt="{{imageUrl}}" class="cart-item-image" />
                    <div class="cart-item-info">
                        <h2 class="cart-item-name">{{title}}</h2>
                        <div class="cart-item-price">${{price}}</div>
                    </div>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>Your cart is empty.</p>
    {{/if}}
</section>